* {
  padding: 5px;
  font-family: Arial, sans-serif;
}

body{
  background-color: #57826f;
}

.weather-site-wrapper {
  max-width: 1000px;
  max-height: 425px;
  margin: 20px auto;
}

.weather-site {
  padding: 20px;
  border: solid 2px #5d5c61;
  border-radius: 10px;
  background-image:linear-gradient(0deg, rgba(231, 193, 148, 0.2), rgba(6, 87, 81, 0.8)),
  url("../../src/images/forrest.jpg");
  background-size: cover;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

h1 {
  padding: 15px 0 0 0;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 40px;
  font-weight: 100px;
  line-height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: white;
  margin: 0;
  padding: 0;
  font-weight: 100px;
  height: 18px;
  line-height: 19px;
  text-transform: capitalize;
}

.button {
  border: none;
  background-color: #e7c194;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  padding: 8px;
  transition: all 200ms ease;
  cursor: pointer;
}

.button:hover {
  background-color: #57826f;
}

.fas{
  padding:0px;
}

.forecast {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  border: solid 2px #5d5c61;
  border-radius: 10px;
  background-color: #a38e6f;
}

.days {
  padding: 0;
  width: 13%;
}

.row {
  padding: 5px;
}

.weatherForecast {
  border: solid 2px #5d5c61;
  border-radius: 10px;
  color: white;
  text-align: center;
  background-color: #e7c194;
  margin: 0px;
  padding: 0px;
}

.forecastDate {
  padding: 0px;
}

.forecastTemp {
  padding: 0px;
}

.weather-temp img {
  margin-right: 100px;
  height: 84px;
  width: 84px;
  position: relative;
  top: -6px;
}

.weather-temp strong {
  color: white;
  font-size: 40px;
  line-height: 1;
  font-weight: 200;
  position: relative;
  top: -75px;
  left: 60px;
}

.weather-temp .units {
  color: white;
  position: relative;
  font-size: 15px;
  top: -93px;
  left: 52px;
}

.humidity{
  font-size: 17px;
}

.wind{
  font-size: 17px;
}

.githubLink{
  position: relative;
  top: 10px;
  color: white;
}

.githubLink a {
  color: #e7c194;
  font-weight: 1000px;
}